*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#banner{
    height: 300px;
    background: url(images/banner.jpeg) center/cover no-repeat;
}
.ban-container{
    padding: 6rem;
    min-height: 250px;
}
#services{
    min-height: 400px;
}
#client{
    background: url(images/bac1.avif) center/cover no-repeat;
    min-height: 200px;
}
@media only screen and (max-width: 480px){
    .ban-container{
        padding: 3rem;
    }
    .card{
        width: 50%;
    }
    .foot-para{
        font-size: 0.8rem;
    }
    .apple{
        width: 12%;
    }
}